*{
    background-color: skyblue;
}

body{
    height: 800px;
}

#canvas{
    height: 25px;
    width: 25px;
    margin: 0px 200px;
    box-shadow: 400px 50px black,
    425px 50px black,
    450px 50px black,
    475px 50px black,
    375px 75px black,
    400px 75px red, 
    425px 75px red, 
    450px 75px red, 
    475px 75px red, 
    500px 75px  black, 
    525px 75px black,
    350px 100px black, 
    375px 100px red, 
    400px 100px white, 
    425px 100px red, 
    450px 100px red, 
    475px 100px red, 
    500px 100px red, 
    525px 100px red, 
    550px 100px black, 
    350px 125px black, 
    375px 125px white, 
    400px 125px white, 
    425px 125px white, 
    450px 125px red,
    475px 125px red,
    500px 125px red, 
    525px 125px red, 
    550px 125px red, 
    575px 125px black, 
    325px 150px black, 
    350px 150px black, 
    375px 150px black, 
    400px 150px black, 
    425px 150px black, 
    450px 150px black, 
    475px 150px red, 
    500px 150px red, 
    525px 150px red, 
    550px 150px red, 
    575px 150px red, 
    600px 150px black, 
    625px 150px black, 
    300px 175px black, 
    325px 175px red, 
    350px 175px red, 
    375px 175px red, 
    400px 175px red, 
    425px 175px red, 
    450px 175px red, 
    475px 175px black, 
    500px 175px red, 
    525px 175px red, 
    550px 175px red, 
    575px 175px red, 
    600px 175px red, 
    625px 175px red, 
    650px 175px black, 
    325px 200px black, 
    350px 200px black, 
    375px 200px white, 
    400px 200px white, 
    425px 200px sandybrown, 
    450px 200px white, 
    475px 200px white, 
    500px 200px black, 
    525px 200px black, 
    550px 200px red, 
    575px 200px red, 
    600px 200px red, 
    625px 200px red, 
    650px 200px black, 
    375px 225px white,
    400px 225px black, 
    425px 225px sandybrown, 
    450px 225px black, 
    475px 225px white, 
    500px 225px sandybrown, 
    525px 225px sandybrown,
    550px 225px black,
    575px 225px black,
    600px 225px red,
    625px 225px red,
    650px 225px black,
    350px 250px black,
    375px 250px white,
    400px 250px black,
    425px 250px sandybrown,
    450px 250px black,
    475px 250px white,
    500px 250px sandybrown,
    525px 250px sandybrown,
    550px 250px black,
    575px 250px black,
    600px 250px black,
    625px 250px black,
    325px 275px black,
    350px 275px sandybrown,
    375px 275px sandybrown,
    400px 275px sandybrown,
    425px 275px sandybrown,
    450px 275px sandybrown,
    475px 275px sandybrown,
    500px 275px sandybrown,
    525px 275px black,
    550px 275px black,
    575px 275px sandybrown,
    600px 275px sandybrown,
    625px 275px black,
    325px 300px black,
    350px 300px sandybrown,
    375px 300px sandybrown,
    400px 300px sandybrown,
    425px 300px sandybrown,
    450px 300px sandybrown,
    475px 300px black,
    500px 300px sandybrown,
    525px 300px sandybrown,
    550px 300px black,
    575px 300px sandybrown,
    600px 300px sandybrown,
    625px 300px black,
    325px 325px black,
    350px 325px black,
    375px 325px sandybrown,
    400px 325px sandybrown,
    425px 325px sandybrown,
    450px 325px black,
    475px 325px black,
    500px 325px black,
    525px 325px sandybrown,
    550px 325px sandybrown,
    575px 325px sandybrown,
    600px 325px black,
    350px 350px black,
    375px 350px black,
    400px 350px black,
    425px 350px black,
    450px 350px black,
    475px 350px black,
    500px 350px sandybrown,
    525px 350px sandybrown,
    550px 350px sandybrown,
    575px 350px black,
    600px 350px black,
    375px 375px black,
    400px 375px sandybrown,
    425px 375px sandybrown,
    450px 375px sandybrown,
    475px 375px sandybrown,
    500px 375px sandybrown,
    525px 375px black,
    550px 375px black,
    575px 375px black,
    400px 400px black,
    425px 400px black,
    450px 400px black,
    475px 400px black,
    500px 400px black,
    525px 400px black,
    550px 400px red,
    575px 400px red,
    600px 400px black,
    375px 425px black,
    400px 425px red,
    425px 425px blue,
    450px 425px red,
    475px 425px red,
    500px 425px red,
    525px 425px blue,
    550px 425px red,
    575px 425px red,
    600px 425px red,
    625px 425px black,
    375px 450px black,
    400px 450px red,
    425px 450px blue,
    450px 450px red,
    475px 450px red,
    500px 450px red,
    525px 450px blue,
    550px 450px red,
    575px 450px red,
    600px 450px red,
    625px 450px black,
    350px 475px black,
    375px 475px red,
    400px 475px black,
    425px 475px blue,
    450px 475px blue,
    475px 475px blue,
    500px 475px blue,
    525px 475px blue,
    550px 475px red,
    575px 475px red,
    600px 475px red,
    625px 475px red,
    650px 475px black,
    350px 500px black,
    375px 500px red,
    400px 500px white,
    425px 500px blue,
    450px 500px blue,
    475px 500px blue,
    500px 500px white,
    525px 500px white,
    550px 500px red,
    575px 500px red,
    600px 500px red,
    625px 500px red,
    650px 500px black,
    325px 525px black,
    350px 525px white,
    375px 525px black,
    400px 525px white,
    425px 525px blue,
    450px 525px blue,
    475px 525px blue,
    500px 525px white,
    525px 525px white,
    550px 525px red,
    575px 525px red,
    600px 525px red,
    625px 525px red,
    650px 525px black,
    325px 550px black,
    350px 550px white,
    375px 550px black,
    400px 550px blue,
    425px 550px blue,
    450px 550px blue,
    475px 550px blue,
    500px 550px blue,
    525px 550px blue,
    550px 550px black,
    575px 550px white,
    600px 550px white,
    625px 550px white,
    650px 550px white,
    675px 550px black,
    325px 575px black,
    350px 575px white,
    375px 575px black,
    400px 575px black,
    425px 575px blue,
    450px 575px blue,
    475px 575px blue,
    500px 575px blue,
    525px 575px blue,
    550px 575px black,
    575px 575px white,
    600px 575px white,
    625px 575px white,
    650px 575px white,
    675px 575px black,
    350px 600px black,
    375px 600px black,
    400px 600px blue,
    425px 600px blue,
    450px 600px blue,
    475px 600px blue,
    500px 600px blue,
    525px 600px blue,
    550px 600px black,
    575px 600px white,
    600px 600px white,
    625px 600px white,
    650px 600px black,
    400px 625px black,
    425px 625px blue,
    450px 625px blue,
    475px 625px blue,
    500px 625px black,
    525px 625px blue,
    550px 625px blue,
    575px 625px black,
    600px 625px black,
    625px 625px black,
    400px 650px black,
    425px 650px blue,
    450px 650px blue,
    475px 650px blue,
    500px 650px black,
    525px 650px blue,
    550px 650px blue,
    575px 650px blue,
    600px 650px blue,
    625px 650px black,
    350px 675px black,
    375px 675px black,
    400px 675px black,
    425px 675px black,
    450px 675px black,
    475px 675px black,
    500px 675px black,
    525px 675px black,
    550px 675px black,
    575px 675px black,
    600px 675px black,
    625px 675px black,
    650px 675px black,
    325px 700px black,
    350px 700px saddlebrown,
    375px 700px saddlebrown,
    400px 700px saddlebrown,
    425px 700px saddlebrown,
    450px 700px saddlebrown,
    475px 700px black,
    500px 700px saddlebrown,
    525px 700px saddlebrown,
    550px 700px saddlebrown,
    575px 700px saddlebrown,
    600px 700px saddlebrown,
    625px 700px saddlebrown,
    650px 700px saddlebrown,
    675px 700px black,
    325px 725px black,
    350px 725px saddlebrown,
    375px 725px saddlebrown,
    400px 725px saddlebrown,
    425px 725px saddlebrown,
    450px 725px saddlebrown,
    475px 725px black,
    500px 725px saddlebrown,
    525px 725px saddlebrown,
    550px 725px saddlebrown,
    575px 725px saddlebrown,
    600px 725px saddlebrown,
    625px 725px saddlebrown,
    650px 725px saddlebrown,
    675px 725px black,
    350px 750px black,
    375px 750px black,
    400px 750px black,
    425px 750px black,
    450px 750px black,
    475px 750px black,
    500px 750px black,
    525px 750px black,
    550px 750px black,
    575px 750px black,
    600px 750px black,
    625px 750px black,
    650px 750px black;
}